
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background: #f4f4f4;
      color: #333;
    }

    header {
      background-color:  #000a5a;
      color: #fff;
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 10;
    }

    header h1 {
      font-family: 'Playfair Display', serif;
      font-size: 24px;
    }

    nav a {
      color: #fff;
      margin-left: 20px;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;
    }

    nav a:hover {
      color: #d28500;
    }

    .hero {
      background: linear-gradient(135deg,  #e38800e1, #000a5a );
      color: #ffffff;
      text-align: center;
      padding: 80px 20px;
    }

    .hero h2 {
      font-size: 38px;
      margin-bottom: 20px;
    }

    .hero p {
      font-size: 18px;
      max-width: 800px;
      margin: 0 auto;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding: 40px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .mini-box {
      background-color: #ffffff;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .mini-box:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }

    .mini-box h4, .mini-box h2 {
      font-size: 18px;
      margin-bottom: 10px;
      color:  #000a5a ;
    }

    .mini-box p {
      font-size: 14px;
      color: #000000;
    }

    .landing {
      grid-column: span 4;
      background-color: #515151;
      text-align: left;
    }

    @media (max-width: 768px) {
      .landing {
        grid-column: span 2;
      }
    }

    @media (max-width: 500px) {
      .landing {
        grid-column: span 1;
      }
    }
